<div class="f-info">
    <div class="f-info-social">
        <i class="fa-brands fa-square-facebook"></i>
        <i class="fa-brands fa-square-instagram"></i>
        <i class="fa-brands fa-square-twitter"></i>
    </div>
    <div>&copy; Darshan Pvt.</div>
    <div class="f-info-link">
        <a href="/privacy">privacy</a>
        <a href="/terms">terms</a>
        <a href="/about">about</a>
    </div>
</div>